/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #2c5db3 #edf2f7; /* For Firefox */

    &::-webkit-scrollbar {
      width: 8px; /* width of scrollbar */
      height: 8px; /* height of scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #edf2f7; /* background of the track */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #4a5568; /* color of the scroll thumb */
      border-radius: 10px; /* roundness of the thumb */
      border: 2px solid #edf2f7; /* creates space around thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #2d3748; /* darker color on hover */
    }
  }
}
